body {
  background-color: #0c3b2e;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 50px;
}

.container-left {
  /* padding: 0 4.6rem; */
  margin-left: 30px;
  margin-right: 25%;
}
.selling {
  font-size: 24px;
  color: #fff;
  width: fit-content;
  padding: 10px;
  margin-top: 80px;
  margin-left: 10px;
}

.selling-lower {
  margin-top: 80px;
  margin-left: 10px;
  padding: 10px;
  font-size: 18px;
}

.container-right img {
  height: 100vh;
  width: 750px;
}

.selling-lower {
  color: #fff;
}

.btn {
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  color: #000;
  border: none;
}
